@-moz-document url(chrome://mozapps/content/extensions/extensions.xul), url(about:addons) {
    setting[pref="extensions.sortbookmarks@bouanto.mainOptions"], setting[pref="extensions.sortbookmarks@bouanto.rootFoldersExclusion"], setting[pref="extensions.sortbookmarks@bouanto.sortCriteria"], setting[pref="extensions.sortbookmarks@bouanto.sortOrder"], setting[pref="extensions.sortbookmarks@bouanto.displayOptions"] {
        clip: rect(0px, 9999px, 35px, 0px);
        margin-bottom: -35px;
        padding-top: 5px;
        position: absolute;
    }
    
    setting[pref="extensions.sortbookmarks@bouanto.mainOptions"]:before, setting[pref="extensions.sortbookmarks@bouanto.rootFoldersExclusion"]:before, setting[pref="extensions.sortbookmarks@bouanto.sortCriteria"]:before, setting[pref="extensions.sortbookmarks@bouanto.sortOrder"]:before, setting[pref="extensions.sortbookmarks@bouanto.displayOptions"]:before {
        border-bottom: 2px solid black;
        content: attr(title);
        font-weight: bold;
        
        display: block;
        height: 25px;
        margin: auto;
        width: 100%;
    }
}
